---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";
import { getEntry } from "astro:content";

import StrukturCard from "@/components/StrukturCard.astro";
import { getSinglePage } from "@/lib/contentParser.astro";

const about = await getEntry("tentang", "-index");
const { Content } = await about.render();
const { title, description, meta_title, image } = about.data;

const tentang = await getSinglePage("tentang");

---

<Base
  title={title}
  meta_title={meta_title}
  description={description}
  image={image}
>
  <section class="section-sm">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center md:col-10 lg:col-7">
          {
            image && (
              <Image
                class="mx-auto mb-6 rounded-lg"
                src={image}
                width={480}
                height={480}
                alt={title}
                format="webp"
              />
            )
          }
          <h2 set:html={markdownify(title)} class="h3 mb-6" />
          <div class="content text-left text-base">
            <Content />
          </div>
        </div>
        <div class="row justify-center">
          <h2 class="h3 mb-6 text-center">Struktural</h2>
          {
            tentang.map((struktur) => (
              <div class="mb-14 md:col-6 lg:col-4">
                <StrukturCard data={struktur} />
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </section>
</Base>
