---
import Base from "@/layouts/Base.astro";
import { markdownify } from "@/lib/utils/textConverter";
import CallToAction from "@/partials/CallToAction.astro";
import Testimonial from "@/partials/Testimonial.astro";
import type { Button, Feature } from "@/types";
import { Image } from "astro:assets";
import { getEntries, getEntry } from "astro:content";
import { FaCheck } from "react-icons/fa/index.js";
import VMTS from "@/partials/VMTS.astro";

interface Homepage {
  banner: {
    title: string;
    content: string;
    image: string;
    button: Button;
  };
  features: Feature[];
}

const homepage = await getEntry("homepage", "-index");
const testimonial = await getEntry("sections", "testimonial");
// const vmts = await getEntry("sections", "vmts")
const call_to_action = await getEntry("sections", "call-to-action");
const { banner, features }: Homepage = homepage.data;
---

<Base>
  <!-- Banner -->
  <section class="section pt-14">
    <div class="container">
      <div class="row justify-center">
        {
          banner.image && (
            <div class="col-12 flex justify-center">
              <Image
                src={banner.image}
                height={480}
                width={480}
                alt="banner image"
                format="webp"
              />
            </div>
          )
        }
        <div class="mb-16 text-center lg:col-7">
          <h1 set:html={markdownify(banner.title)} class="mb-4 text-bik2" />
          <p set:html={markdownify(banner.content)} class="mb-8" />
          {
            banner.button.enable && (
              <a class="btn btn-primary" href={banner.button.link}>
                {banner.button.label}
              </a>
            )
          }
        </div>
      </div>
    </div>
  </section>
  <CallToAction call_to_action={call_to_action} />
</Base>
